
._container {
    max-width: 1280px;
    margin: 0 auto;
}

/* FOOTER SECTION */

.footer {
    background: #212121;
    padding: 48px 0px;
    margin-top: auto;
}

.footer__social__networks__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__networks__title__block {
    display: flex;
    align-items: center;
    gap: 24px;
}

.title__block__header {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.social__networks__icons__block {
    display: flex;
    gap: 24px;
}


.overview__lists__block {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}

.about__college {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about__college__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.lists__about__college {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lists__about__college__item {
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reserved__text {
    color: rgba(255, 255, 255, 0.40);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ============================== */