/* styles.module.css */
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.section__title,
.process__schedule-title,
.section__events {
    text-align: center;
    color: #000;
    font-weight: 600;
    line-height: normal;
}

.section__title {
    font-size: 36px;
    margin-bottom: 22px;
}

.process__schedule-title,
.section__events {
    font-size: 36px;
    margin-bottom: 20px;
}

.schedule__content {
    max-width: 600px;
    display: flex;
    gap: 210px;
    margin-bottom: 22px;
}

.schedule__title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 17px;
}

.schedule__content_body_content {
    display: flex;
    flex-wrap: nowrap;
    gap: 110px;
    width: 207px;
    height: 29px;
}

.schedule__bg {
    border-radius: 10px;
    background: #FFEED6;
}

.paragraph {
    padding: 5px;
    font-weight: 500;
}

.schedule__button {
    display: flex;
    align-items: center;
    color: #EAA360;
    font-size: 24px;
    font-weight: 600;
    margin-top: 13px;
    gap: 5px;
}

.process__schedule_title {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.schedule__button:hover .arrow-icon {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.footer {
    margin-top: 40px;
}

@media (max-width: 768px) {
    .schedule__content {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 565px) {
    .process__schedule-title {
        font-size: 23px;
    }
}

@media (max-width: 435px) {
    .section__title {
        font-size: 25px;
    }
}

@media (max-width: 390px) {
    .schedule__content {
        gap: 30px;
    }

    .process__schedule-title {
        font-size: 18px;
    }

    .section__title {
        margin-bottom: 5px;
    }
}
